body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202634;
  min-height: max-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2 {
  color: #F5F8F7
}

.card-text {
  color: black;
}

.game-card {
  perspective: 1000px;
}

.card-img-top {
  width: 100%;
  height: 100% ;
  object-fit: cover;
}

.game-card-container .col {  
  margin-bottom: 50%; 
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.youtube-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  padding-top: 56.25%; /* 16:9 aspect ratio (height:width) */
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hover-img {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.hover-img:hover {
  opacity: 1;
  background-color: #F5D75C;
}

